{% extends 'layout.html' %}
{% block body %}
<section id="topHeader">
	<h1>{{ data.titre }}</h1>
</section>

<section id="bodyPage">
	<nav>
		<h4>description</h4>
		<ul>
			<li>
				<h5>Liste des postes</h5>
				<ul class="sousMenu">
					{% for poste in data.poste.split(',') %}
						<li><label>{{ poste }}</label></li>
					{% endfor %}
				</ul>
			</li>
			<li>
				<h5>Localisation</h5>
				<ul class="sousMenu">
					<li><label><img src="{{ url_for('static', filename='img/flags/France.png') }}"/>France</label></li>
				</ul>
			</li>
			<li>
				<h5>Salaire</h5>
				<ul class="sousMenu">
					<li><label>{{ data.salaire }}€/an</label></li>
				</ul>
			</li>
			<li>
				<h5>Taille</h5>
				<ul class="sousMenu">
					<li><label><img src="{{ url_for('static', filename='img/icons/employers.png') }}"/>{{ data.taille }} employ&eacute;s</label></li>
				</ul>
			</li>
			<li>
				<h5>Tags</h5>
				<ul class="sousMenu">
					<li>
						<label>
							{{ data.tags }}
						</label>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<section>
		{{ data.description }}
	</section>
</section>
{% endblock %}