<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Chez Tux, emplois facile{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header id="menu">
    {% block menu %}
    {% include 'menu.html' %}
    {% endblock %}
</header>
{% block body %}
{% endblock %}
<footer>
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
</footer>
</body>
{% block js %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
</html>