<img src="{{ url_for('static', filename='img/logo.png') }}">
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">accueil</a></li>
        <li>les metiers
            <nav>
                <ul>
                    <li><a href="{{ url_for('search') }}?txt:txt=programmeur">Programmeur</a></li>
                    <li>Réseau</li>
                    <li>Web</li>
                    <li>Android / iOS</li>
                    <li>Base de données</li>
                    <li>Jeux vidéo</li>
                </ul>
            </nav>
        </li>
        <li>les articles</li>
    </ul>
</nav>