<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}"></a>
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">accueil</a></li>
        <li><a href="{{ url_for ('search')}}" >les metiers</a>
            <nav>
                <ul>
                    <li><a href="{{ url_for('search') }}?chkprog=on">Programmeur</a></li>
                    <li><a href="{{ url_for('search') }}?chkreseau=on">Réseau</a></li>
                    <li><a href="{{ url_for('search') }}?chkweb=on">Web</a></li>
                    <li><a href="{{ url_for('search') }}?chkios=on">Android / iOS</a></li>
                    <li><a href="{{ url_for('search') }}?chkbdd=on">Base de données</a></li>
                    <li><a href="{{ url_for('search') }}?chkgames=on">Jeux vidéo</a></li>
                </ul>
            </nav>
        </li>
        <li>les articles</li>
    </ul>
</nav>