{% extends 'layout.html' %}
{% block body %}
<section id="topHeader">
    <h1>réseau, sécurité</h1>
    <span class="puce"><b>45</b> résultats trouvé</span>
</section>
<section id="bodyPage">
    <nav>
        <h4>affiner sa recherche</h4>
        <ul>
            <li>
                <h5>Recherche</h5>
                <input class="searchField" name="txt:txt" type="text" placeholder="Votre recherche" {% if args.get('txt:txt') != None %}value="{{args.get('txt:txt')}}"{% endif %}>
            </li>
            <li>
                <h5>Activité</h5>
                <ul class="sousMenu">
                    <li><label><input class="searchField" name="chksecurite" type="checkbox" {% if args.get('chksecurite') == 'on' %}checked{% endif %}>Sécurité</label><span>2</span></li>
                    <li><label><input class="searchField" name="chkenvironnement" type="checkbox">Environnement</label><span>4</span></li>
                    <li><label><input class="searchField" name="chkbdd" type="checkbox">Base de données</label><span>6</span></li>
                    <li><label><input class="searchField" name="chktelephonie" type="checkbox">Téléphonie</label><span>5</span></li>
                </ul>
            </li>
            <li>
                <h5>Niveau étude requis</h5>
                <ul class="sousMenu">
                    <li><label><input class="searchField" name="chk2" type="checkbox">+2 (DUT)</label></li>
                    <li><label><input class="searchField" name="chk3" type="checkbox">+3 (Licence)</label></li>
                    <li><label><input class="searchField" name="chk5" type="checkbox">+5 (Master)</label></li>
                    <li><label><input class="searchField" name="chk8" type="checkbox">+8 (Doctorat)</label></li>
                </ul>
            </li>
            <li>
                <h5>Localisation</h5>
                <input type="text" id="localisationInput" class="searchField" name="txt:localisation" placeholder="Code postale, Ville, Pays"/>
                <ul id="localisationResults" class="autocompletionText">

                </ul>
            </li>
            <li>
                <h5>Salaire</h5>
                <input class="searchField" type="text" name="txt:salaire" />
            </li>
        </ul>
    </nav>
    <section>
        <h2>Liste des resultats</h2>
        <ul id="searchResult">

        </ul>
    </section>
</section>
{% endblock %}
{% block js %}
{{ super() }}
<script type="text/javascript">
    $( document ).ready(function() {
        _reloadResearch();
    });
</script>
{% endblock %}