body { margin:0; font-family:sans-serif; } 
h4,h3,h2,h1 { margin:0; }


/* MENU */
header#menu { height:50px;
	background:#1C7FC5;
	display:flex;
	padding-left:20px;
	border-top:5px solid #03639D;
}

header#menu > nav > ul > li{
	list-style-type:none;
	color:white;
	font-weight:bold;
	font-size:0.75em;
	cursor:pointer;
	padding:17px 18px 18px 18px;
	text-transform:uppercase;
}

header#menu > nav > ul > li:hover {
	background:#03639D;
}

header#menu > nav > ul {
	display:flex;
	margin-top:0px;
	padding:0px;
	padding-left:15px;
}

header#menu > nav > ul > li > nav { 
	display:none; 
	position:absolute;
	width:100%;
	background:#03639D;
	left:0;
	height:42px;
	margin-top:18px;	
}

header#menu > nav > ul > li > nav ul { display:flex; padding:0; margin:0;  }
header#menu > nav > ul > li > nav ul li { 
	list-style:none; 
	font-size:0.9em;
	padding:13px 16px;
	
}
header#menu > nav > ul > li > nav ul li:hover { color:#e3e3e3; }
header#menu nav ul li:hover nav { display:block; }


#homeSearch { width:100%; height:650px;
			background:#000 url('../img/home_img.png') no-repeat; 
			background-size: 100%; 
			}
			
#homeSearch #contentSearch {
	width:75%; height:310px;
	margin:0 auto;
	padding-top:180px;
	text-align:center;
}

#homeSearch #contentSearch h1 { color:#fff; text-transform:uppercase; font-size:2.7em; }
#homeSearch #contentSearch h4 { color:#fff; font-size:0.9em; opacity:0.8; margin-bottom:48px; }
#homeSearch #contentSearch input { 
	background:#000 url('../img/search.png') no-repeat 13px 20px; color:#fff; border:none; opacity:0.75; 
	background-size:25px;
	font-size:1em;
	padding:25px 50px;
	width:490px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	transition: opacity 0.1s linear;
}

#homeSearch #contentSearch input:focus { opacity:0.9; }

#infosSite { width:100%; height:245px; background:#F5F5F5; }
