<li>
	<img src="assets/img/entreprises/michel_et_augustin.png"/>
	<section>
		<section class="headerResultSearch">
			<h4>Michel et Augustin</h4>
			<ul>
				<li><span class="puce puceOrange">50 000 €</span></li>
				<li><span class="puce puceBleu">France</span></li>
			</ul>
		</section>
		<p>
			Chez Michel et Augustin notre rêve ?
			*Faire sourire le MONDE en concoctant des produits gourmands et sains.
			*Partager, vivre et construire notre aventure en temps réel avec VOUS.
		Ô vous qui venez d’atterrir sur cette jolie page, vous rêvez de participer à notre aventure humaine et un peu folle ? MERCI. Nous y sommes très sensibles. 
		</p>
		<section class="infoResultSearch">
			<ul>
				<li><span class="puce puceRouge">+2 +3 +5</span></li>
				<li><span class="puce puceVerte">Réponsable informatique</span></li>
			</ul>
			<a class="puce puceLink" href="#">Plus d'informations</a>
		</section>
	</section>
</li>